[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/react"
  to = "/.netlify/functions/react"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
